body h1 {
  font-size:400%;
  transform:translateY(40px);
}

.bold {
  font-weight:bold;
  -webkit-text-stroke: 2px;
}

body {
  background-color: green;
  text-align: center;
  margin:0 10%
}

body p {
  color: white;
}

.ascii {
  white-space: pre;
  font-family: monospace;
  width:fit-content;
  padding:20px;
}

.blackBack {
  background-color: black;
}

.topDisplay {
  display:flex;
  justify-content: center;
}

.yellow {
  color:yellow;
}

@keyframes change {
  to {
    opacity: 1
  }
}

.moreInfo {
  padding:20px;
  line-height:30px;
  text-align: left;
}