body h1 {
  font-size:250%;
  transform:translateY(40px);
  display:flex;
}

.bold {
  font-weight:bold;
  -webkit-text-stroke: 2px;
}

body {
  background-color: rgb(33, 22, 4);
  text-align: center;
  display:flex;
  justify-content: center;
  font-size:125%;
}

body p {
  color: white;
}

.main {
  width:fit-content;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.main2 {
  width:fit-content;
}

.header{
  display:flex;
  flex-direction:column;
  align-items: flex-end;
}

.listItem {
  font-family:Helvetica, sans-serif;
  display:flex;
  flex-direction:row;
  line-height:50%;
  transform: translateY(30px) translateX(-25px);
  font-size:110%;
  color:white;
  font-weight:bold;
}

.listItem .ascii {
  font-size:40%;
  color:red;
  -webkit-text-stroke:6px;
  line-height:50%;
  transform: translateY(-26px);
}

.ascii2,
.ascii {
  white-space: pre;
  font-family: monospace;
  width:fit-content;
  padding:20px;
}

.blackBack {
  background-color: black;
}

.topDisplay {
  display:flex;
  justify-content: center;

}

.topDisplay .ascii {
  line-height:60%;
  transform: translateY(50px);
}

.yellow {
  color:yellow;
}

@keyframes change {
  to {
    opacity: 1
  }
}

.moreInfo {
  padding:20px;
  line-height:30px;
  text-align: left;
}